* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}
.container {
    width: 400px;
    background-color: #E5E5E5;
    border: solid;
    position: relative;
}
.topo {
   
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
}
.topo > img {
    width: 75px;
    height: 53px;
    padding-left: 10px;
}
.topo > ion-icon {
    width: 75px;
    height: 53px;
}
.conteudo-principal {
    margin-top: 26px;
}
.conteudo-principal h3 {
    font-family: 'Roboto';
    font-style: normal;
   
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: black;
    
    
}

.entrar-na-sala {
    background: #DCDCDC;
    border-radius: 2px;
    margin: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
.mensagem-todos {
    
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
.mensagem-reservada {
    background-color: #FFDEDE;
    border-radius: 2px;
    margin: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
